:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --main-font-color: #212121;
  --background-color: #2f303a;
  --white-color: #ffffff;
  --portfolio-btn-color: #f5f4fa;
  --black-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo-accent {
  color: var(--accent-color);
}

/* =====================HEADER================= */

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: var(--black-color);
}

/* NAVIGATION BLOCK */

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
}

/* Repeta old-school style */

/* .nav-list .nav-item + .nav-item {
  margin-left: 50px;
} */

.navigation {
  display: flex;
  align-items: center;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

/* CONTACT BLOCK */

.contact-list {
  display: flex;
  align-items: center;
  margin-left: 331px;
}

.contact-list .contact-item:not(:last-child) {
  margin-right: 50px;
}

/* .contact-list .contact-item + .contact-item {
  margin-left: 50px;
} */

.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.link-active {
  color: var(--accent-color);
}

/* =================END HEADER================ */

/* ================HERO====================== */

.hero {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  text-align: center;
  color: var(--white-color);
}

.hero .container {
  padding: 200px 252px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-btn {
  display: flex;
  margin: 0 auto;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--main-font);
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: #188ce8;
  color: var(--white-color);
  transition-duration: 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* =================END HERO================== */

/* =================ADVANTAGES=================== */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.advantages-item-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-color);
}

.advantages-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ===============END ADVANTAGES=================== */

/* ===================EXAMPLES========================= */

.examples-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* ================END EXAMPLES========================= */

/* =================TEAM============================= */

.team {
  background-color: var(--portfolio-btn-color);
}

.team-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-card {
  padding: 30px;
}

.team-card-name {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.team-card-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ============================END TEAM============================== */

/* ==========================STUDIO FOOTER=========================== */

.studio-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.logo-light {
  color: var(--white-color);
}

.logo-link-footer {
  /* margin-top: 20px; */
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address-list {
  margin-top: 20px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link-maps {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.address-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus,
.address-link-maps:hover,
.address-link-maps:focus {
  color: var(--accent-color);
}
/* ========================END STUDIO FOOTER========================== */

/* +++++++++++++++++++++++++++PORTFOLIO++++++++++++++++++++++++++++++ */

/* =============================PORTFOLIO-HEADER===================== */

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

/* =======================FILTER BUTTONS============================= */
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  background-color: var(--portfolio-btn-color);
  border-radius: 4px;
}

.btn-all {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}

.btn-web {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
}

.btn-apps {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
}

.btn-design {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
}

.btn-marketing {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
}
/* ==============================END FILTER BUTTONS========================= */

/* =============================CARD LIST================================= */

.card-techno {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}
.techno-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.techno-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-poster {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 262px;
}
.poster-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.poster-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 616px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-seafood {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 262px;
}
.seafood-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 576px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.seafood-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 616px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-prime {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 696px;
}
.prime-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1010px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.prime-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-boxes {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 696px;
}
.boxes-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1010px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.boxes-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1050px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-web {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 696px;
}
.web-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1010px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.web-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1050px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-design {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1130px;
}
.design-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1444px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.design-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1484px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-lab {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1130px;
}
.lab-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1444px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.lab-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1484px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.card-app {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1130px;
}
.app-title {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1444px;
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.app-desc {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1484px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* =========================END CARD LIST=============================== */

/* =======================PORTFOLIO FOOTER=============================== */
.portfolio-footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background-color: var(--background-color);
}
